/* CSS file */

Button {
	chromeColor: #909090;
	fontStyle: normal;
	textDecoration: underline;
	rollOverEffect: ClassReference("com.ticore.style.example.effect.BlurUp");
	rollOutEffect: ClassReference("com.ticore.style.example.effect.BlurDown");
}
