/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";

s|Button#btn0, s|Button#btn1 {
	chromeColor: #909090;
	fontStyle: normal;
	textDecoration: underline;
	rollOverEffect: ClassReference("com.ticore.style.example.effect.ScaleUp");
	rollOutEffect: ClassReference("com.ticore.style.example.effect.ScaleDown");
}
