/* CSS file */

Application {
	backgroundColor: #404040;
}

Button.myStyle01 {
	cornerRadius: 10;
	color: #FF0000;
	cls: ClassReference("com.ticore.style.example.effect.DummyClass");
}

Button.myStyle02 {
	cornerRadius: 10;
	color: #0000FF;
	fontSize: 20;
	fontStyle: italic;
}
